
<section class="style-box">
      <div class="title-box">
        <h5> {{findData ? 'فرم ویرایش' : 'اطلاعات کارمند '}} </h5>
         <app-button
      class="mr-auto"
      [text]="' بازگشت '"
      [icon]="'fas fa-plus-square'"
      [typeBtn]="'style-btn style-btn-blue'"
      (onClicked)="returnbBackPage()"
    ></app-button>
      </div>
      <div class="content-box">
        <div class="overflow-x-auto">
             <table>
        <thead>
          <th> تاریخ شروع </th>
          <th> تاریخ پایان </th>
          <th> نوع مرخصی </th>
          <th> ساعت مرخصی </th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
             </table>
        </div>
        </div>
        </section>
        <section class="style-box">
        <div class="overflow-x-auto">
            <table>
                <thead>
                    <th> نوع مرخصی </th>
                    <th> تعداد مرخصی </th>
                    <th> مجموع ساعات مرخصی </th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>

<section class="style-box">
  <div class="overflow-x-auto">
    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()"  class="space-y-5">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <div class="form-group  flex flex-col">
      <label  for="startDate"  class="font-semibold mb-1">تاریخ شروع:</label>
      <input type="date" 
      formControlName="startDate" 
      required
        class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-400" >
        </div>

        <div class="form-group  flex flex-col">
      <label  for="endDate" class="font-semibold mb-1">تاریخ پایان:</label>
      <input  type="date"
       formControlName="endDate" 
       required
       class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-400" >
          </div>

      <div class="form-group  flex flex-col">
      <label for="leaveType" class="font-semibold mb-1">نوع مرخصی:</label>
        <select  formControlName="leaveType" 
        required 
         class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-400">
        <option value="ساعتی">ساعتی</option>
        <option value="روزانه">روزانه</option>
        <option value="درون‌شهری">درون‌شهری</option>
        <option value="برون‌شهری">برون‌شهری</option>
      </select>
      </div>

     
    <div class="form-group  flex flex-col">
      <label class="font-semibold mb-1">ساعت:</label>
      <input
        type="number"
        formControlName="hours"
        min="1"
        max="24"
        required
       class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-blue-400"
      >
          <small *ngIf="leaveForm.get('leaveType')?.value !== 'ساعتی'" class="text-gray-500">
    {{ leaveForm.get('hours')?.value }}
  </small>  
    </div>
  </div>

       <app-button
      class="flex justify-end"
      [text]="' افزودن '"
      [icon]="'fas fa-plus-square'"
      [typeBtn]="'style-btn style-btn-blue'"
      (onClicked)="leaveForm.invalid"
    ></app-button>

    </form>
  </div>
</section>
@if(showLoading){
<app-loading-page></app-loading-page>
}
