<section class="style-box">
  <div class="title-box">
    <h5>فرم افزودن کارمند جدید</h5>
  </div>

  <div class="content-box">
    @if (form) {
    <form class="flex flex-wrap">
      <div class="w-full sm:w-1/3 px-2 mb-8">
        <app-input
          [textLabel]="'نام و نام خانوادگی'"
          [maxlength]="45"
          [id]="'fullName'"
          [controlName]="form.get('fullName')"
        ></app-input>
      </div>
     <div class="w-full flex flex-wrap">
       <div class="w-full sm:w-1/2 px-2 mb-8">
         <app-input
            [textLabel]="'کد پرسنلی'"
            [maxlength]="10"
            [id]="'personnelCode'"
            [controlName]="form.get('personnelCode')"
          ></app-input>
      </div>

       <div class="w-full sm:w-1/2 px-2 mb-8">
          <app-input
            [textLabel]="'ایمیل'"
            [id]="'email'"
            [controlName]="form.get('email')"
          ></app-input>
        </div>

          <div class="w-full sm:w-1/2 px-2 mb-8">
          <app-input
            [textLabel]="'شماره تماس'"
            [maxlength]="11"
            [id]="'phoneNumber'"
            [controlName]="form.get('phoneNumber')"
          ></app-input>
        </div>

      <div class="w-full sm:w-1/2 px-2 mb-8">
        <upload-file
        [label]="'عکس کارمند'"
        [validType]="['image/jpeg','image/png']"
        [formControllName] = "form.get('profileImage')"
        ></upload-file>
      </div>
     </div>
    </form>
    }

    <div class="footer-box">
      <div class="flex w-full gap-2 justify-between">
        <app-button
          [text]="'بازگشت به لیست'"
          [typeBtn]="'style-btn style-btn-gray'"
          [icon]="'fas fa-arrow-circle-right'"
          (onClicked)="returnbBackPage()"
        ></app-button>
        <app-button
          [text]="!this.findData ? 'ذخیره اطلاعات' : 'ویرایش اطلاعات'"
          [typeBtn]="'style-btn style-btn-blue'"
          [icon]="!this.findData ? 'far fa-save' : 'far fa-edit'"
          (onClicked)="
            !this.findData ? createItem() : updateItem(this.findData.id)
          "
        ></app-button>
      </div>
    </div>
  </div>
</section>

@if (showLoading) {
<app-loading-page></app-loading-page>
}
